<template>
    <div class="container">
                <div class="card">
                    <div class="card-header">Корзина</div>
                    <div class="card-body">
                        <a href="/home">Каталог</a>
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr v-for="item, index in catalog">
                                <td>{{ item.catalog.name }}</td>
                                <td>{{ item.catalog.price }}</td>
                                <td>
                                    <a href="#"
                                       class="btn btn-xs btn-danger"
                                       v-on:click="deleteBasket(item.id, index)">
                                        Удалить
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Итого</td>
                                <td>{{ sum }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</template>

<script>
    export default {
        data: function () {
            return {
                catalog: [],
                count: 0
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/basket/list?api_token='+token)
                .then(function (resp) {
                    app.catalog = resp.data;
                    app.sum = 0;
                    app.catalog.forEach(function(item, i, arr) {
                        app.sum += item.catalog.price;
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Каталог не загружен");
                });
        },
        methods: {
            deleteBasket(id, index) {
                var app = this;
                axios.post('/api/basket/delete/' + id, {
                    api_token: token
                })
                    .then(function (resp) {
                        app.catalog = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Не удалось удалить товар.");
                    });
            }
        }
    }
</script>
