<template>
    <div class="container">
                <div class="card">
                    <div class="card-header">Каталог</div>

                    <div class="">В корзине <a href="/basket">{{ count }} </a></div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th v-for="key in columns"
                                    v-on:click="sorting(catalog, key, 'desk')">
                                    {{key}} {{ sortString[key] }}
                                </th>
                                <th></th>
                            </tr>
                            <tr v-for="item in catalog">
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>
                                    <a href="#"
                                       class="btn btn-xs btn-success"
                                       v-on:click="addBasket(item.id, index)">
                                        Добавить в корзину
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</template>

<script>
    export default {
        data: function () {
            var gridColumns = ['name', 'price'];
            var sortOrders = {};

            gridColumns.forEach(function (key) {
                sortOrders[key] = 1
            });

            return {
                sortKey: '',
                sort: 'ask',
                sortOrders: sortOrders,
                columns: gridColumns,
                catalog: [],
                sortString: [],
                count: 0
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/catalog?api_token=' + token)
                .then(function (resp) {
                    app.catalog = resp.data;
                })
                .catch(function (resp) {
                    alert("Каталог не загружен");
                });

            axios.get('/api/basket/list?api_token='+token)
                .then(function (resp) {
                    app.count = resp.data.length;
                });
        },
        methods: {
            addBasket(id, index) {
                var app = this;
                axios.post('/api/basket/add/' + id, {
                    api_token: token
                })
                    .then(function (resp) {
                        app.count = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Не удалось добавить товар. Возможно он уже присутствует в корзине");
                    });
            },
            sorting: function (data, key, sort) {
                function compareValues(key, order = 'asc') {
                    return function innerSort(a, b) {
                        if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
                            return 0;
                        }

                        const varA = (typeof a[key] === 'string')
                            ? a[key].toUpperCase() : a[key];
                        const varB = (typeof b[key] === 'string')
                            ? b[key].toUpperCase() : b[key];

                        let comparison = 0;
                        if (varA > varB) {
                            comparison = 1;
                        } else if (varA < varB) {
                            comparison = -1;
                        }
                        return (
                            (order === 'desc') ? (comparison * -1) : comparison
                        );
                    };
                }

                if(app.sort === 'desc') { app.sort = 'ask'; } else { app.sort = 'desc';}

                this.sortString = [];
                this.sortString[key] = (app.sort === 'desc') ? '(по убыванию)' : '(по возрастанию)';

                data.sort(compareValues(key, app.sort));
            }
        }
    }
</script>
